@mixin setMainColor($name) {
    @include setColor("main-#{$name}");
}

@mixin setColor($name) {
    --color-main: var(--color-#{$name});
    --color-main-darker: var(--color-#{$name}-darker);
    --color-main-dark: var(--color-#{$name}-dark);
    --color-main-light: var(--color-#{$name}-light);
    --color-main-bright: var(--color-#{$name}-bright);
}

@mixin setTextColor($name) {
    --color-text: var(--color-text-#{$name});
}