@mixin box-shadow($opt) {
    -webkit-box-shadow: $opt;
    -moz-box-shadow: $opt;
    box-shadow: $opt;
}
@mixin box-shadow-default {
    @include box-shadow(0px 0px 15px 0px rgba(0,0,0,0.1));
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin animation ($opt) {
  -webkit-animation: $opt;
  -moz-animation: $opt;
  -o-animation: $opt;
  animation: $opt;
}
@mixin gradient-default {
  @include gradient(90deg, $color-main-primary, $color-background-darker);
}
@mixin gradient($direction, $primary, $secondary) { 
  background: -webkit-linear-gradient($direction, $primary 0%, $secondary 100%);
  background: -moz-linear-gradient($direction, $primary 0%, $secondary 100%);
  background: -o-linear-gradient($direction, $primary 0%, $secondary 100%);
  background: linear-gradient($direction, $primary 0%, $secondary 100%);  
}
@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin position-absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin position-center($transformOverride: null) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) $transformOverride;
}