doctype html
html(lang="de")
  head
    title=title
    meta(name="title" content=title)
    meta(name="author" content=author)
    meta(name="description" content=description)
    meta(property="og:type" content="website")
    meta(property="og:url" content=rootUrl)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=bannerUrl)
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content=rootUrl)
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=description)
    meta(property="twitter:image" content=bannerUrl)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#000000")
    link(rel="manifest" href="manifest.json")
    link(rel="shortcut icon" href="/icon/favicon-16x16.png" type="image/png")
    link(rel="apple-touch-icon" href="/icon/apple-icon-180x180.png")  
    link(rel='stylesheet', href='/css/main.min.css')
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('ServiceWorker.js').then(function(registration) { 
          // Force Service Worker to check for updates
          registration.update().then(sw => {
            // Do not autoreload on Safari because its total bullshit
            if (navigator.userAgent.indexOf('Safari') == -1 ||  navigator.userAgent.indexOf('Chrome') != -1) {
              sw.installing?.addEventListener('statechange', e => {
                sw.installing == null ? window.location.reload() : null;
              });
            }
          });
        });
      }
  body
    block content
    script(src="/js/main.min.js" defer)
