doctype html
html(lang="de")
  head
    title=title
    meta(name="title" content=title)
    meta(name="author" content=author)
    meta(name="description" content=description)
    meta(property="og:type" content="website")
    meta(property="og:url" content=rootUrl)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=bannerUrl)
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content=rootUrl)
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=description)
    meta(property="twitter:image" content=bannerUrl)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#000000")
    link(rel="manifest" href="manifest.json")
    link(rel="shortcut icon" href="/icon/favicon-16x16.png" type="image/png")
    link(rel="apple-touch-icon" href="/icon/apple-icon-180x180.png")  
    link(rel='stylesheet', href='/css/main.min.css')
  body.site--offline
    .offline
        h1.offline__header Offline
        p.offline__text Please check your internet connection
    script.
        // Redirect as soon as the page is online again
        window.addEventListener('online', function() {
            location.reload();
        });
        