// Main Colors
$color-main-primary: #1db896;
$color-main-primary-darker: darken($color-main-primary, 5%);
$color-main-primary-dark: darken($color-main-primary, 20%);
$color-main-primary-light: lighten($color-main-primary, 20%);
$color-main-primary-bright: lighten($color-main-primary, 43%);
$color-main-secondary: #1a7edb;
$color-main-secondary-darker: darken($color-main-secondary, 5%);
$color-main-secondary-dark: darken($color-main-secondary, 20%);
$color-main-secondary-light: lighten($color-main-secondary, 20%);
$color-main-secondary-bright: lighten($color-main-secondary, 43%);
$color-main-tertiary: #1fcfcf;
$color-main-tertiary-darker: darken($color-main-tertiary, 5%);
$color-main-tertiary-dark: darken($color-main-tertiary, 20%);
$color-main-tertiary-light: lighten($color-main-tertiary, 20%);
$color-main-tertiary-bright: lighten($color-main-tertiary, 43%);
$color-main-danger: #ff3d3d;
$color-main-success: #05e605;

// Background
$color-background: #292929;
$color-background-darker: darken($color-background, 2.5%);
$color-background-dark: darken($color-background, 5%);
$color-background-light: lighten($color-background, 20%);
$color-background-lighter: lighten($color-background, 5%);

// Text
$color-text: #666;
$color-text-light: #fff;
$color-text-gray: #aaa;
$color-text-grayer: #777;

// CSS Variables
:root {
    // Main Colors
    --color-main: #{$color-main-primary};
    --color-main-darker: #{$color-main-primary-darker};
    --color-main-dark: #{$color-main-primary-dark};
    --color-main-light: #{$color-main-primary-light};
    --color-main-bright: #{$color-main-primary-bright};
    --color-main-primary: #{$color-main-primary};
    --color-main-primary-darker: #{$color-main-primary-darker};
    --color-main-primary-dark: #{$color-main-primary-dark};
    --color-main-primary-light: #{$color-main-primary-light};
    --color-main-primary-bright: #{$color-main-primary-bright};
    --color-main-secondary: #{$color-main-secondary};
    --color-main-secondary-darker: #{$color-main-secondary-darker};
    --color-main-secondary-dark: #{$color-main-secondary-dark};
    --color-main-secondary-light: #{$color-main-secondary-light};
    --color-main-secondary-bright: #{$color-main-secondary-bright};
    --color-main-tertiary: #{$color-main-tertiary};
    --color-main-tertiary-darker: #{$color-main-tertiary-darker};
    --color-main-tertiary-dark: #{$color-main-tertiary-dark};
    --color-main-tertiary-light: #{$color-main-tertiary-light};
    --color-main-tertiary-bright: #{$color-main-tertiary-bright};
    --color-main-danger: #{$color-main-danger};

    // Background
    --color-background: #{$color-background};
    --color-background-dark: #{$color-background-dark};
    --color-background-darker: #{$color-background-darker};
    --color-background-light: #{$color-background-light};
    --color-background-lighter: #{$color-background-lighter};

    // Text
    --color-text: #{$color-text-light};
    --color-text-default: #{$color-text};
    --color-text-light: #{$color-text-light};
    --color-text-gray: #{$color-text-gray};
    --color-text-grayer: #{$color-text-grayer};
}