// Example Styles
section {
    @include position-center;
    text-align: center;
    h1 {
        display: block;
        color: var(--color-text-light);
        font-size: 5em;
    }
    p {
        display: block;
        color: var(--color-text-light);
        font-size: 2em;
    }
}