// Unset all Styles
input, textarea, form,
h1, h2, h3, h4, h5, h6, p, span, label, a {
    all: unset;
}
body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--color-background);
}
a {
    cursor: pointer;
}
::selection {
    color: var(--color-text-light);
    background-color: var(--color-main-primary);
}

// Import Variables
@import 'color';
@import 'responsive';
@import 'scrollbar';

// Error Pages
@import 'offline';

// Mixins
@import 'mixin/utility';
@import 'mixin/colorhelper';

// Load files
@import 'layout';