.offline {
    margin: auto;
    
    &__header {
        color: var(--color-text);
        font-size: 18vh;
        text-transform: uppercase;
        opacity: .5;
        text-align: center;
        display: block;
    }
    &__text {
        color: var(--color-text);
        font-size: 4.5vh;
        text-align: center;
        display: block;
    }
}

body.site--offline {
    display: grid;
    min-height: 100vh;
}