// Responsive Variables
$break-xl: 1200px;
$break-lg: 992px;
$break-md: 768px;
$break-sm: 576px;

$content-size-xl: 1170px;
$content-size-lg: 970px;
$content-size-md: 750px;
$content-size-sm: calc(100% - 100px);

// Responsive Content
body {
    --content-size: #{$content-size-sm};
}
@media screen and (min-width: $break-md) {
    body {
        --content-size: #{$content-size-md};
    }
}
@media screen and (min-width: $break-lg) {
    body {
        --content-size: #{$content-size-lg};
    }
}
@media screen and (min-width: $break-xl) {
    body {
        --content-size: #{$content-size-xl};
    }
}